body {
    background-color: brown;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Primer bloque */
div:nth-of-type(1) {
    background-color: dodgerblue; /* Azul exacto */
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    width: 97%;
}

div:nth-of-type(1) h1 {
    color: blue;
    font-size: 18px;
    margin: 0;
}

div:nth-of-type(1) p {
    color: white;
    margin: 5px 0;
}

/* Segundo bloque */
div:nth-of-type(2) {
    background-color: #e0e0e0; /* Gris claro */
    padding: 10px;
    margin: 15px 5px;
    border: 3px dashed yellow;
    width: 80%;
}

div:nth-of-type(2) h2 {
    color: limegreen;
    font-size: 18px;
    margin: 0;
}

div:nth-of-type(2) p {
    color: orange;
    margin: 5px 0;
}

/* Tercer bloque */
div:nth-of-type(3) {
    background-color: #ff00ff; /* Fucsia */
    padding: 10px;
    margin: 10px 5px;
    border: 2px solid blue;
    width: 55%;
    max-height: 150px;
    overflow-y: scroll;
}

div:nth-of-type(3) h3 {
    color: black;
    font-size: 18px;
    margin: 0;
}

div:nth-of-type(3) p {
    color: white;
    margin: 5px 0;
    text-align: justify;
}